@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(0, 0, 0, 0.952);
  color: white;
}



.animation-button {
  cursor: pointer;
  animation: moveUpDown 0.5s infinite alternate;
}


@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}